version=0.27.0
ocaml-version=5.2.0
assignment-operator=end-line
break-before-in=auto
break-cases=fit
break-collection-expressions=wrap
break-colon=after
break-fun-decl=wrap
break-fun-sig=wrap
break-infix=fit-or-vertical
break-infix-before-func=false
break-separators=before
break-sequences=true
break-string-literals=auto
break-struct=force
cases-exp-indent=2
cases-matching-exp-indent=normal
disambiguate-non-breaking-match=false
doc-comments=before
doc-comments-padding=2
doc-comments-tag-only=default
dock-collection-brackets=false
exp-grouping=preserve
extension-indent=2
field-space=loose
function-indent=2
function-indent-nested=never
if-then-else=compact
indent-after-in=0
indicate-multiline-delimiters=space
indicate-nested-or-patterns=unsafe-no
infix-precedence=indent
leading-nested-match-parens=false
let-and=sparse
let-binding-indent=2
let-binding-spacing=compact
let-module=compact
line-endings=lf
margin=80
match-indent=0
match-indent-nested=never
max-indent=68
module-item-spacing=compact
nested-match=wrap
#no-break-infix-before-func
#no-break-sequences
#no-disambiguate-non-breaking-match
#no-dock-collection-brackets
#no-leading-nested-match-parens
#no-ocp-indent-compat
#no-parens-ite
#no-parse-docstrings
#no-parse-toplevel-phrases
#no-space-around-arrays
#no-space-around-lists
#no-space-around-records
#no-space-around-variants
#no-wrap-comments
#no-wrap-fun-args
ocp-indent-compat=false
parens-ite=false
parens-tuple=always
parens-tuple-patterns=always
parse-docstrings=true
parse-toplevel-phrases=false
sequence-blank-line=preserve-one
sequence-style=terminator
single-case=compact
space-around-arrays=true
space-around-lists=true
space-around-records=true
space-around-variants=true
stritem-extension-indent=0
type-decl=sparse
type-decl-indent=2
wrap-comments=false
wrap-fun-args=true
